/* Colors
    - Dark: #244855
    - Red: #e64833
    - Brown: #874F41
    - Blue: #90AEAD
    - Tan: #FBE9D0
  */

body {
  background-color: #f7f4f1;
}
  
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f7f4f1;
  color: #244855
}

/* Table */

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 1rem;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #faf1e4;
}

table tr:nth-child(odd) {
  background-color: #FBE9D0;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #e64833;
  color: white;
}

.headerButton {
  background-color: inherit;
  border: none;
  color: inherit;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

.headerButton:hover {
  color: #244855;
}

.headerButton:focus {
  outline: none;
  border: none;
}

.table-responsive {
  overflow-x: auto;
}

/* Sidedar */

.sidebar {
  border-top: 1px solid #90AEAD;
  border-right: 1px solid #90AEAD;
  padding-right: 2rem;
  margin-top: 4rem;
}

.sidebar h3 {
  padding-bottom: .5rem;
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.sidebar h4 {
  padding-bottom: .5rem;
  border-bottom: 1px solid #90AEAD;
  font-size: large;
  font-weight: bold;
}

.sidebar-button {
  background-color: inherit;
  color: inherit;
  padding: 0.5rem 1rem;
  font-size: small;
  border: none;
  cursor: pointer;
  font-weight: bold;
  float: left;
  text-align: left;
}

.sidebar-button:hover {
  color: #90AEAD;
  text-decoration: underline;
}

.search-bar {
  padding: 10px;
  margin-top: 1rem;
  width: 100%;
  border: 1px solid #cfcece;
  border-radius: 5px;
}

.sidebar-selection-bay {
  margin-bottom: 2rem;
  text-align: left;
  border-left: 1px solid #90AEAD;
  border-bottom: 1px solid #90AEAD;
}